* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.news-container {
    width: 90%;
    max-width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.news-item {
    position: relative;
}
.news-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: white;
    padding: 20px;
}
.category-btn {
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #262626;
}
.meta {
    font-size: 12px;
    opacity: 0.8;
}
.title {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}
.description {
    width: 60%;
    font-size: 14px;
    opacity: 0.9;
}
.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background: white;
}
.page{
    padding: 6px 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.prev,
.next {
    padding: 8px 12px;
    background: #ddd;
    border: none;
}
.next{
    background-color: #262626;
    color: white;
}
.page {
    background: white;
}

.page.active {
    background: black;
    color: white;
}
button:hover{
    opacity: 0.5;
}